<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Special Character Dict</key>
	<dict>
		<key>%32</key>
		<string>#</string>
		<key>%30</key>
		<string>?</string>
		<key>%34</key>
		<string>:</string>
		<key>%28</key>
		<string>=</string>
	</dict>
</dict>
</plist>
